body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f9f7fc;
  color: #500606;
  text-align: center;
}

header {
  background-color: #cdb4db;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#panorama {
  width: 100%;
  height: 90vh;
  border-top: 3px solid #b38ed1;
  border-bottom: 3px solid #b38ed1;
}

footer {
  background-color: #f3e8ff;
  padding: 10px;
  font-size: 14px;
}
